.category-container{
    @apply h-[111px] min-h-[111px] lg:h-[132px] lg:min-h-[132px] mx-auto max-w-[1440px];
    @screen lg {@apply flex justify-center}
    .group{
        @apply pt-8 pb-6 rounded-t-[20px];
        @screen lg {@apply rounded-t-[64px] w-[95%]}
        .item{
            @apply px-4 w-auto cursor-pointer;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid #EBEEEF; 
            .item-icon{
                @apply w-8;
                @screen lg {@apply w-16 pl-3}
            }
            .item-name{
                @apply text-f-10 font-poppins-regular text-primary-darkBlue text-center mt-2;
                @screen lg {@apply text-f-18}
            }
        }
    }
}   