.footer-wrapper{
    @apply bg-primary-rzaGrey20 p-6;

    .section-app{
        .title{
            @apply font-poppins-bold text-f-17 text-primary-darkBlue;
        }
    }

    .section-social{
        .title{
            @apply font-poppins-bold text-f-17 text-primary-darkBlue;
        }

        .items{
            @apply flex gap-6 sm:gap-8 mt-4;
        }
    }

    .section-menu{
        @apply mt-6 w-full xl:flex xl:flex-wrap xl:max-w-full xl:gap-y-10 xl:mt-0;
        .title{
            @apply font-poppins-bold text-f-17 text-primary-darkBlue flex items-center justify-between my-3;
            img{
                @apply xl:hidden;
            }
        }

        ul{
            li{
                @apply font-poppins-medium text-f-15 text-primary-darkBlue my-3;
            }
        }
    }
}