.category-page-container{
    @apply mx-auto max-w-[1440px];

    .breadcrumb{
        @apply p-6;
    }

    .section-title{
        @apply text-f-24 font-poppins-bold text-center;
    }

    .section-category{}

    .section-filter{
        .filter-category{
            @apply px-6 lg:px-24 lg:mt-8;
            .mobile-filter{
               @apply lg:hidden;
               button{
                @apply flex w-full py-3 px-4 mt-4 items-center gap-1 border border-secondary-rzaLightGrey rounded-lg font-poppins-regular text-f-14;
               }

               .counting-product {
                @apply text-f-12 font-poppins-regular text-secondary-rzaCoolGrey mt-4;
               }
            }

            .product-end-filter{
                @apply flex;

                .dekstop-filter{
                    @apply hidden lg:block max-w-[260px] w-full mr-6 h-fit;
                }

                .product-list{
                    @apply mt-6 pb-5;
                    .product-list-items{
                        @apply w-full rounded-t-[20px] mr-1 min-w-[155.5px] rounded-br-[20px];
                        .product-list-items-image{
                            @apply w-full h-[155.5px] rounded-t-[20px] lg:w-[230px] lg:h-[230px] shadow;
                        }
                        .product-list-items-content{
                            @apply bg-secondary-rzaCard p-2 lg:px-4 rounded-br-[20px] lg:w-[230px] shadow;
                            .product-list-items-content-title{
                                @apply text-f-14 font-poppins-bold pb-8;
                            }
                            .product-list-items-content-optionLabel{
                                @apply text-f-10 font-poppins-regular border-secondary-rzaLightGrey border rounded-lg px-2 py-1;
                                span{
                                    @apply font-poppins-bold;
                                }
                            }
                            .product-list-items-content-price{
                                @apply text-f-14 font-poppins-bold text-primary-rzaRed mt-2;
                            }
    
                            .product-list-items-content-pricestrikeout {
                                @apply text-f-12 text-secondary-rzaCadetBlue mt-1 flex items-center;
                                .discount{
                                    @apply text-f-10 px-2 py-[2px] rounded-md ml-2 font-poppins-bold;
                                    background: linear-gradient(75.07deg, #001A41 17.5%, #0E336C 105.9%);
                                }
                            }
                        }
                    }
    
                    .slick-slide > div {
                        margin: 0 2px;
                      }
                      
                    .slick-list {
                    margin: 0 -2px;
                    }
    
                    margin-top: 1.5rem;
                    display: grid;
                    gap: 16px;
                    grid-template-columns: repeat(2, 1fr);
                }
                  
                @media (min-width: 768px) {
                    .product-list {
                        grid-template-columns: repeat(3, 1fr); 
                        gap: 20px;
                    }
                }
                
                @media (min-width: 1470px) {
                    .product-list {
                        @apply mt-0;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 20px;
                    }
                }
            }


        }
    }

    .mobile-filter-bottomsheet{
        @apply p-7 lg:hidden;
        .head{
            @apply flex justify-between items-center text-f-19 font-poppins-bold text-primary-darkBlue;
        }

        .content{
            @apply mt-4 overflow-y-scroll max-h-[80vh] pb-[230px] lg:pb-[200px];
        }

         /* For Chrome, Safari, and Edge */
        .content {
            overflow-y: auto;
        }
        
        .content::-webkit-scrollbar {
            display: none; /* This will hide the scrollbar in WebKit browsers */
        }
        
        /* For Firefox */
        .content {
            scrollbar-width: none; /* This will hide the scrollbar in Firefox */
        }
    }
}