.category-page-container{
    @apply mx-auto max-w-[1440px];

    .breadcrumb{
        @apply p-6;
    }

    .section-title{
        @apply text-f-24 font-poppins-bold text-center;
    }

    .section-category{}

    .section-filter{
        .filter-category{
            @apply px-6;
            .mobile-filter{
               button{
                @apply flex w-full py-3 px-4 mt-4 items-center gap-1 border border-secondary-rzaLightGrey rounded-lg font-poppins-regular text-f-14;
               }

               .counting-product {
                @apply text-f-12 font-poppins-regular text-secondary-rzaCoolGrey mt-4;
               }
            }


        }
    }

    .mobile-filter-bottomsheet{
        @apply p-7;
        .head{
            @apply flex justify-between items-center text-f-19 font-poppins-bold text-primary-darkBlue;
        }

        .content{
            @apply mt-4 overflow-y-scroll max-h-[80vh] pb-[100px];
        }

         /* For Chrome, Safari, and Edge */
        .content {
            overflow-y: auto;
        }
        
        .content::-webkit-scrollbar {
            display: none; /* This will hide the scrollbar in WebKit browsers */
        }
        
        /* For Firefox */
        .content {
            scrollbar-width: none; /* This will hide the scrollbar in Firefox */
        }
    }
}