 .link {
    @apply text-f-15 font-poppins-medium flex items-center gap-1 p-3;
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .dropdown.active > .link,
  .link:hover {
    color: #777;
  }
  
  .dropdown {
    position: relative;
    
  }

  .dropdown-menu {
    @apply p-4 z-[100] rounded-b-xl rounded-t border-t-4 border-r-4 border-primary-rzaRed;
    position: absolute;
    width: max-content;
    right: 0;
    top: calc(100% + 0.25rem);
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out;
  }
  
  .dropdown.active .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  .login-form > input {
    margin-bottom: .5rem;
  }