.hero-baner-container{
    @apply h-[437px] min-h-[437px] lg:h-[700px] lg:min-h-[700px] relative overflow-hidden;
    @screen lg {
        @apply pb-28;
    }
    .main-title{
        @apply text-f-24 text-primary-rzaWhite font-poppins-bold pt-[54px] text-left mx-6;
        @screen lg {
            @apply mx-[100px] pt-[64px] text-f-32;
        }
    }
    .main-desc{
        @apply text-f-13 font-poppins-regular text-primary-rzaWhite mt-4 text-left mx-6 min-h-[39px];
        @screen lg {
            @apply mx-[100px] mt-2;
        }
    }

    .slider{
        @screen lg {
            @apply mx-[70px];
        }
        .banner-items{
            @apply h-[236px] min-h-[236px] rounded-[20px] mt-4 mb-10 mx-6 shadow-lg relative;
            @screen lg {
                @apply mt-8 h-[360px] min-h-[360px] mb-6;
            }

            img{
                @apply absolute size-full rounded-[20px] object-cover;
            }
        }
    
        .banner-items-inner{
            @apply h-[237px] rounded-[20px] z-[1000] relative;
            
           
            background: linear-gradient(98.85deg, #001A41 0.2%, rgba(0, 0, 0, 0) 69.4%),
            linear-gradient(78.18deg, #001A41 2.21%, rgba(0, 0, 0, 0) 72.6%);
    
            .item-content{
                @apply max-w-[221.6px] max-h-[106.48px] pt-8 pl-6;
                @screen lg{
                    @apply max-w-[330px] max-h-[216px];
                }
                .banner-title{
                    @apply text-f-18 font-poppins-bold text-primary-rzaWhite text-left;
                    @screen lg{
                        @apply text-f-24;
                    }
                }
                .banner-desc{
                    @apply text-f-12 font-poppins-regular text-primary-rzaGrey40 mt-1 text-left;
                    @screen lg{
                        @apply text-f-16;
                    }
                }
                .banner-button{
                    @apply rounded-[56px] text-primary-rzaWhite text-f-12 font-poppins-bold py-[6px] w-[120px] mt-8 block;
                    border: 2px solid #FFFFFF;
                }
            }
            
        }

        .slick-dots{
            @apply ml-5;
        }

        li{
            width: auto !important;
        }

        @screen lg { 
            .banner-items-inner{
                @apply h-[361px];
            }   
          }
    }
}

  